<!--<ion-header>
  <ion-toolbar>
    <ion-title>error</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="ion-text-center">
    <h5 style="font-size: 50px;">Error</h5>
    <h5>No se encontro la ruta especifica, puede enviar el error al siguien correo:</h5>
    <a href="#">TeLLevoApp@xd.com</a>
    <div style="width: 100%; height: 50px; position: fixed; bottom: 0; left: 0;">
      <ion-button [routerLink]="['/login']" color="danger">Volver a la pagina de Inicio</ion-button>
    </div>
  </div>

</ion-content>
