<ion-content>
  <ion-card>
    <ion-item lines="full">
      <ion-label position="floating">Vehiculo</ion-label>
      <ion-input minlength="3" [(ngModel)]="data.vehicle" maxlength="30" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Capacidad</ion-label>
      <ion-input minlength="1" [(ngModel)]="data.capacity" maxlength="1" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Patente</ion-label>
      <ion-input minlength="3" [(ngModel)]="data.patent" maxlength="30" required></ion-input>
    </ion-item>
    <br>
    <div class="ion-text-center">
      <ion-button (click)="openPicker()">Hora de Salida</ion-button>
    </div>
    <div class="ion-text-center">
      <ion-button (click)="map()">Ubicacion</ion-button>
    </div>
  </ion-card>
  <ion-card>
    <ion-button color="success" expand="block">Guardar</ion-button>
  </ion-card>
</ion-content>