<ion-content>
  <ion-card>
    <ion-item lines="full">
      <ion-label position="floating">Vehiculo</ion-label>
      <ion-input [(ngModel)]="data.vehicle" minlength="3" maxlength="15" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Capacidad</ion-label>
      <ion-input [(ngModel)]="data.capacity" minlength="1" maxlength="1" type="number" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Patente</ion-label>
      <ion-input [(ngModel)]="data.patent" minlength="8" maxlength="8" placeholder="AB-CD-EF" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Valor</ion-label>
      <ion-input [(ngModel)]="data.value" minlength="1" maxlength="5" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="data.locationName" readonly></ion-input>
      <ion-button (click)="map()">Ubicacion</ion-button>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="data.time" readonly></ion-input>
      <ion-button (click)="openPicker()">Hora de Salida</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-button color="success" expand="block" (click)="save()">Guardar</ion-button>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Disponibilidad</ion-label>
      <ion-toggle id="toggle" (ionChange)="toggleAvailability($event)" disabled="true"></ion-toggle>
    </ion-item>
  </ion-card>
</ion-content>