<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pasajero</ion-title>
    <ion-button fill="" slot="end" [routerLink]="['/profile']">
      <ion-icon style="font-size: 40px;" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment id="segment" value="pass-trips" mode="ios" (ionChange)="onChangeSegment($event)">
      <ion-segment-button value="pass-trips">
        <ion-icon name="list-outline"></ion-icon>
        <ion-label>Viajes</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pass-map">
        <ion-icon name="map-outline"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
