<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="data.mail" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="send()" type="submit" color="danger" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <strong>Proporcione la dirección de correo electrónico que utilizó cuando se registro.</strong>
  </ion-card>
</ion-content>