<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form [formGroup]="formForgot" (ngSubmit)="submit()" action="">
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" [(ngModel)]="data.mail" formControlName="mail" required></ion-input>
        <span *ngIf="this.formForgot.get('mail')?.errors?.['required']" class="advertencia" > 
          El campo no puede quedar vacío.
        </span>
        <span *ngIf="this.formForgot.get('mail')?.errors?.['minlength']" class="advertencia">
          Debe tener como mínimo 3 caracteres.
        </span>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block">Enviar</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <strong>Proporcione la dirección de correo electrónico que utilizó cuando se registro.</strong>
  </ion-card>
  <div class="ion-text-center">
    <img style="margin-top: 50px;" id="logo" src="assets/img/TELLEVO2_BLUR.png" alt=""> 
  </div>
</ion-content>