<!-- <ion-content>
  <tr>
    <td>
      <ion-input type="text" id="search_address"></ion-input>
    </td>
    <td>
      <ion-button (click)="search($event)">Search</ion-button>
    </td>
  </tr>
  <capacitor-google-map id="mapDriverSet"></capacitor-google-map>
</ion-content> -->

<ion-content>
  <div>
    <tr>
      <td>
        <ion-input [(ngModel)]="input" #search_address id="search_address" type="text"></ion-input>
      </td>
      <td>
        <ion-button (click)="searchMap()">Buscar</ion-button>
      </td>
    </tr>
  </div>
  <capacito-google-maps id="mapDriverSet" #mapDriverSet></capacito-google-maps>
</ion-content>