<!-- <ion-content>
  <tr>
    <td>
      <ion-input type="text" id="search_address"></ion-input>
    </td>
    <td>
      <ion-button (click)="search($event)">Search</ion-button>
    </td>
  </tr>
  <capacitor-google-map id="mapDriverSet"></capacitor-google-map>
</ion-content> -->

<ion-content>
  <!-- <ion-input [(ngModel)]="input" #search_address id="search_address" type="text" style="background-color: rgba(83, 83, 83, 0.5); border-radius: 9px;"></ion-input> -->
  <ion-searchbar [(ngModel)]="input" #search_address id="search_address" search-icon="search-circle" clear-icon="trash-bin" placeholder="Buscar Ubicacion"></ion-searchbar>
  <div class="ion-text-center">
    <ion-button (click)="searchMap()">Buscar</ion-button>
  </div>
  <google-maps id="mapDriverSet" #mapDriverSet></google-maps>
  <div class="ion-text-center">
    <ion-button (click)="save()" color="success">Guardar</ion-button>
  </div>
</ion-content>