<ion-content>
  <!-- <ion-card type="button" (click)="xd()" *ngFor="let i of tripsData"> -->
  <ion-card type="button" *ngFor="let i of tripsData">
    <ion-grid *ngIf="i.available == 'true' && checkSpace(i.capacity, i.passengers) && lsMail != i.mail;">
      <ion-row>
        <ion-col size="auto">
          <h5 style="margin-left: 10px; font-size: 12px;">Conductor -> {{ i.name }} {{ i.lName }}</h5>
          <b style="margin-left: 10px; font-size: 16px;">Capacidad -> {{ i.capacity }} pasajeros</b>
          <h5 style="margin-left: 10px; font-size: 12px;">Patente -> {{ i.patent }}</h5>
          <h5 style="margin-left: 10px; font-size: 12px;">Valor -> {{ i.value }}</h5>
          <h5 style="margin-left: 10px; font-size: 14px;">Hora de inicio -> {{ i.time }} hrs.</h5>
        </ion-col>
        <ion-col class="ion-text-center">
          <h5>Vehiculo -> {{ i.vehicle }}</h5>
          <br>
          <ion-label>{{ i.locationName }}</ion-label>
          <br>
          <br>
          <ion-button id="{{ i.mail }}" size="small" color="success" (click)="getTrip($event)">Pedir Viaje</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
</ion-content>