<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configuraciones</ion-title>
    <ion-button fill="" slot="end" [routerLink]="['/profile']">
      <ion-icon style="font-size: 40px;" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Modo Oscuro</ion-label>
    <ion-toggle id="toggle" (ionChange)="toggleTheme($event)"></ion-toggle>
  </ion-item>
  <!-- <ion-button (click)="this.service.clearLS()" type="submit" color="danger" expand="block">Limpiar localStorage | Datos</ion-button> -->
</ion-content>
