<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="userData.name" [(ngModel)]="lsName" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input [(ngModel)]="userData.lName" [(ngModel)]="lsLName" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <!--<ion-label position="floating">Email</ion-label>-->
      <ion-input color="medium" [(ngModel)]="lsMail" disabled></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Numero</ion-label>
      <ion-input [(ngModel)]="userData.number" [(ngModel)]="lsNumber" type="number"></ion-input>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-button (click)="updateProfile()" type="submit" expand="block">Actualizar Datos</ion-button>
  </ion-card>
  <!--<ion-card>
    <ion-item *ngFor="let i of userData">
      <ion-label>dadada</ion-label>
      <ion-label>{{ i.name }}</ion-label>
    </ion-item>
  </ion-card>-->
</ion-content>
