<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
    <ion-button fill="" slot="end" [routerLink]="['/profile']">
      <ion-icon style="font-size: 40px;" name="person-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="home" mode="ios" (ionChange)="onChangeSegment($event)">
      <ion-segment-button value="driver">
        <ion-icon name="car-sport-outline"></ion-icon>
        <ion-label>Conductor</ion-label>
      </ion-segment-button>
      <ion-segment-button value="passenger">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Pasajero</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet></ion-router-outlet>
</ion-content>
